SimPEG
discretize
vtk
dask
distributed
pandas
numpy
tqdm
pywin32
# pywin32 在低版本pip时可能需要手动进行post install，参见pywin32的pypi主页
pyevtk
# shapely  # 优化后不再需要
scipy
shapely
psutil
pyvista
matplotlib
scikit-learn