SimPEG
Cython
discretize
pyproj

# Distributed computing
distributed

# Scientific computing
pandas
numpy
scipy
scikit-learn
pyamg
taichi

# Visualization
tqdm
pyvista
vtk
matplotlib

# Basic utils
psutil
pympler
loky
blosc2
cloudpickle

# Testing
pytest

# Dev
nox
isort
versioningit
tomli
build

# Misc
properties
colour

# optional
# bokeh  # 用于distributed的网页控制台
# pywin32  # 用于grapher  # 在低版本pip时可能需要手动进行post install，参见pywin32的pypi主页

click
dask
torch
setuptools
imageio
pillow
pykrige
numba
opencv-python